body,h1 {
    font-family: "Quicksand", sans-serif;
}
body, html {
    height: 100%;
}
body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

.bgimg {
    background-image: url('https://apod.nasa.gov/apod/image/1510/MoonEnteringShadow_Tzalavras.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.display-container{
    position:relative;
 }
.text-white {color:#fff!important}
.display-topright{position:absolute;right:0;top:0}
.display-middle{position:absolute;top:25%;left:50%}
.display-bottomleft{position:absolute;left:0;bottom:0}
.padding-large{padding:12px 24px!important}.padding-xlarge{padding:16px 32px!important}
.info{
    border: 5px solid black;
    border-radius: 10px;
    padding:15px;
    color: black;
}
.transparent{
  background:rgba(255,255,255,0.5);
}

.small-text{
    font-size: 0.5em;
}


