html, body {
    font-family: sans-serif;
}



.w3-display-container{
    position:relative;
    display:inline-block;}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-middle{position:absolute;top:50%;left:50%}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-padding-large{padding:12px 24px!important}.w3-padding-xlarge{padding:16px 32px!important}

